.header {
    background-color: #FFED67;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    z-index: 10;
    min-height: 50px;
}

.nav {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
    white-space: nowrap;
}

.nav-item {
    font-weight: bold;
    padding: 0px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 17.5px;
    color: #3E5822;
    position: relative;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: -13.2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #029D60;
    transition: width 0.3s ease-out;
}

.nav-item:hover,
.nav-item.active {
    color: #029D60;
}

.nav-item:hover::after,
.nav-item.active::after {
    width: 70%;
}