.header {
    background-color: #FFED67;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    z-index: 10;
    min-height: 50px;
}
.nav {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
    white-space: nowrap;
}
.nav-item {
    font-weight: bold;
    padding: 0px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 17.5px;
    color: #3E5822;
    position: relative;
}
.nav-item::after {
    content: '';
    position: absolute;
    bottom: -13.2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #029D60;
    transition: width 0.3s ease-out;
}
.nav-item:hover,
.nav-item.active {
    color: #029D60;
}
.nav-item:hover::after,
.nav-item.active::after {
    width: 70%;
}
.search-toggle-icon {
    cursor: pointer;
    font-size: 1.5em;
    margin-left: auto;
}
.search-container {
    width: 90%;
    max-width: 350px;
    padding: 15px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    min-height: 50px;
    box-sizing: border-box;
    display: block;
}
.search-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    display: block;
}