* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.community-main-container {
  background-color: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 70px;

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 20px 0;
  margin: 0 auto;
}

.community-title-container {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px;
}

.community-title {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin: 15px;
}

.my-posts-link-container {
  width: 685px;
  text-align: right;
  margin-bottom: 40px;
}

.my-posts-link {
  font-size: 1.1em;
  color: #666;
  text-decoration: none;
  transition: color 0.2s;
  margin-right: 20px;
}

.my-posts-link:hover {
  color: #143800;
}

.board-list-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  width: 100%;
}

.board-card {
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  width: 650px;
  flex-shrink: 0;
  border: 3px solid #808080;
}

.board-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.board-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.board-description {
  font-size: 1em;
  color: #666;
  margin: 0;
}
}