/* 영양성분 정보 */
.nutrient{
    border: 1px solid #3e58226c;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

/* 바 그래프 */
#cpfn{
    display: flex;   
    width: 100%;
    flex-direction:column ;
    gap: 10px;
}
#bars{
    display: grid;
    grid-template-columns: 100px 60px 1fr; /* 이름, 수치, 바 */
    align-items: center;
    gap: 10px;
}
.progress {
    width: 100%;
    height: 30px;
    background-color: #dedede;
    border-radius: 5px;
    overflow: hidden;
}

.progress .bar_progress { 
    height: 30px;
    padding: 0;
    text-align: center;
    color: #111;
    transition: width 0.4s ease-in-out;
}

/* 원그래프 */
#kcal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.chart{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background:lightgray;
    display:inline-block;
}
.rad_chart{
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transition: background 0.4s ease-in-out;
}

