.content {
    flex: 1 1 20%;
    max-width: 190px;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: box-shadow 0.3s ease;
    max-height: 250px;
}

.content:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.imageBox {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8a2; /* 비는 공간 색상 */
    border-radius: 8px;
    overflow: hidden;
}

.imageBox img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 180px;
    display: block;
    
    margin: 10px auto 0;

    font-weight: bold;
    font-size: 13px;
    color: #444;
    line-height: 1.4;
}

/* 프로필 스타일 */
.profile {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    font-size: 12px;
    color: #666;
}

.profile img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.user_info{
    display: flex;
    flex-direction: column;
    align-items: start;
}
#text_info{
    display: flex;
    gap : 10px;
    align-items: end;
}

.nickname {
    font-size: 10px;
    font-weight: 600;
    width: 50px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 180px;
    display: block;

}



/* 날짜와 조회수 */
.date {
    font-size: 7px;
    color: #636363;
}

.views{
    margin-left: auto;

}
.views img {
    vertical-align: middle;

}

.stars{
    margin-left: auto;
    color: #FED049;
    font-weight: 600;
    display: flex;
    flex-direction: column;

}
.stars img {
    vertical-align: middle;
}

.info_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#info_text{
    display: flex;
    flex-direction: column;
    width: 120px;
}

.bookMark{
    margin-top: 15px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3E5822;
    font-size: 15px;
    font-weight: 500;
}
.bookMark img{
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}
.bookMark img:hover {
    transform: scale(1.1);
}


.title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 180px;
    display: block;
    padding-top :5px;

    font-weight: bold;
    font-size: 13px;
    color: #444;
    line-height: 1.4;
}


.official_off{
    background-color: #FECBB5;
    color: #D7805A;
    border : 1.5px solid #D7805A;
    border-radius: 5px;
    height: 20px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    padding: 0px 10px;
}
.official_user{
    background-color: #CCDDBB;
    color: #3E5822;
    border : 1.5px solid #3E5822;
    border-radius: 5px;
    height: 20px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    padding: 0px 10px;
}

#starAvg{
    color: #FED049;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;
}