/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

/* 공통 */

.container {
  width: 1000px;
  min-height: 1000px; /* 창 크기에 따른 크기 변환 방지 */
  background-color: white;
  padding: 50px 70px;
}

.container * { /* 테스트용 테두리============================================================ */
  /* border: cyan dashed 1px; */
}

h2 {
  font-size: 24px;
}
.title-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.content-area{
  padding: 0px 20px;
}
hr{
  margin-bottom: 20px;
}
.aling-start{
  align-items: baseline;
}
.vt-line {
  width: 0px;
  height: 100%;
  border-right: #ddd solid 2px;
}

.ing-detail-section{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
/* 재료 정보 */
.ing-table {
  background-color: var(--ypjp-green);
  width:360px;
  height: fit-content;
  flex-shrink: 0;
  border-spacing: 3px;
}
.ing-table * {
  padding: 10px 20px;
}
th, tr > td:first-child {
  color: white;
  font-weight: bold;
  text-align: center;
  width: 140px;
}
.ing-image, tr > td:nth-child(2) {
  color: black;
  background-color: white;
}
.ing-image, .ing-image > img {
  padding: 0px;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  overflow: hidden;
}
.ing-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}

/* 보관법 */
.tip-area {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}
.tip-area div {
  color: #888;
  margin: 10px 6px;
  min-height: 90px;
}

.ing-match-section {
  display: flex;
  justify-content: space-between;
  height: 160px;
  gap: 40px;
  margin-bottom: 20px;
  padding: 0px 20px;
}
.ing-match-section h3 {
  margin-bottom: 20px;
}
.best-area h3 {
  text-align: end;
}

.ing-match-section img {
  width: 80px;
  height: 80px;
  opacity: 40%;
}
.best-area, .worst-area {
  flex-grow: 1;
}
.match-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.btn-group {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}
