.imageUploadContainer {
    text-align: center;
}

.previewImage {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
    border: 1px solid #ddd;
    object-fit: contain;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    width: 400px;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

.body input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.body input[type="date"] {
    width: 49%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.body textarea {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.body input[type="file"] {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 16px;
}

.submit {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: #6a9c22;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.cancel {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: #cf5e40;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}