body{
    background-color: #ECEEF1;
}

.container{
    max-width: 1000px;
    margin:auto;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.head_title{
    background-color: #C5E99B;
    padding: 100px  50px 40px 50px;
    display:flex;
    flex-direction: column;
}
.approval_star{
    display: flex;
    gap: 15px;
}
.approval_star div{
    background-color: #92CA02;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500px;
    width: 85px;
    padding: 5px 10px;
    text-align: center;
}
.approval_star span{
    color: #FF6767;
    font-size: 35px;
    font-weight: bold;
}
.other_info{
    align-self: flex-end;
    font-size: 20px;
    color: #636363;
}


.content{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap:40px;
}

.user_btn{
    align-self: flex-end;
}

#action_btn{
    
    border:none;
    background-color: white;
    cursor: pointer;
    color: #636363;
    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;
}



/* basic_info */
.basic_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.basic_info img{
    height: 400px;
    width: 400px;
}

.user_report{
    display: flex;
    justify-content: space-between;

}

/* 프로필 스타일 */
.profile {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-top: 15px;
    font-size: 12px;
    color: #666;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile_name {
    display: flex;
    flex-direction: column;
    padding:0;
    margin :0;

}

.profile_name .eat-bti {
    font-size: 14px;
    color: #ff7f50;
    font-weight: 600;
}

.profile_name .nickname {
    font-size: 24px;
    color: #636363;
    font-weight: 600;
}


/* 신고 */
.report{
    border:none;
    background-color: white;
    cursor: pointer;
    color: #636363;
    text-decoration: underline;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: end;
}

.report img{
    width: 20px;
    height: 20px;
    align-items: center;
}

.food_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* table */
table{
    width: 100%;
    border: 1px solid #3e58226c;
    border-radius: 20px;
    border-collapse: collapse;
}
th{ 
    border-collapse: collapse;
    padding: 20px;
    font-size: 15px;
    text-align: center;
}

td{ 
    border-collapse: collapse;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
}



#tag{
    border:3px solid #029D60;
    border-radius: 15px;
    background-color: white;
    color: #029D60;
    padding: 10px 20px;
}



.ing{
    background-color: #E8E8E8;
    padding: 16px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}






/* 영양성분 정보 */
.nutrient{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

/* 바 그래프 */
#cpfn{
    display: flex;   
    width: 100%;
    flex-direction:column ;
    gap: 10px;
}
#bars{
    /* display: flex;
    gap : 10px; */
    display: grid;
    grid-template-columns: 100px 60px 1fr; /* 이름, 수치, 바 */
    align-items: center;
    gap: 10px;
}
.progress {
    width: 100%;
    height: 15px;
    background-color: #D9D9D9;
    font-weight: 600;
    font-size: .8rem;
}

.progress .bar_progress {
    width: 40%;  
    height: 15px;
    padding: 0;
    text-align: center;
    background-color: #92CA02;
    color: #111;
}


/* 원그래프 */
#kcal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chart{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: 0.3s;
    background:lightgray;
    display:inline-block;
}
.rad_chart{
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background: conic-gradient(#FEBEA2 60%, #D3EA9A 0deg);
}



/* info_list */
.info{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
}

#list{
    display: grid;
    grid-template-columns: 30px 5fr 1fr;
    padding: 0px 20px;
    gap:20px;
    font-size: 16px;
}
#list img{
    height: 150px;
    width: 200px;
}



/* info_one */
#one_img{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px 1fr;
}

#indicator{
    grid-column: 1/span 3;
    height: 10px;
    background: #eee;
}
#indicator-bar {
  height: 100%;
  width: 33.33%; /* 첫 슬라이드 */
  background: #2ecc71;
  transition: transform 0.3s ease;
}
#slide{
    justify-self: center;
    align-self: center; 
}

#one_img button{
    border:none;
    background-color: white;
    font-size: 100px;
    color: #D9D9D9;
}


/* 좋아요 */
.Likes{
    display:flex;
    justify-content: center;
}

#title{
    display: flex;
    justify-content: space-between;
}

#add_btn{
    justify-self: center;
}


.photo_container{
    padding: 10px 20px 50px 20px;
    display: flex;
    gap:10px
}

#photo_box{
    background-color: #D9D9D9;
    width: 165px;
    height: 165px;
}

#photo_box_add{
    background-color: #686868;
    color: white;
    font-size: 24px;
    font-weight: 500;
    width: 165px;
    height: 165px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}



#review_container{
    display: flex;
    align-items: center;
}

/* 프로필 스타일 */
.profile {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-top: 15px;
    font-size: 12px;
    color: #666;
}

.profile img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.profile_name {
    display: flex;
    flex-direction: column;
    padding:0;
    margin :0;

}

.profile_name .eat-bti {
    font-size: 7px;
    color: #ff7f50;
    font-weight: 600;
}

.profile_name .nickname {
    font-size: 12px;
    color: #636363;
    font-weight: 600;
}

/* 날짜와 조회수 */
.date {
    font-size: 7px;
    color: #636363;
}
.stars{
    color: #FED049;
    font-weight: 600;

}
.stars img {
    vertical-align: middle;
}


.delete, .edit, #report{
    
    border:none;
    background-color: white;
    cursor: pointer;
    color: #636363;
    text-decoration: underline;
    font-weight: 500;
    font-size: 12px;
}