.modal{
    width: 900px;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
}

.head_title{
    background-color: #C7E47E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 20px 20px 0 0 ;
    font-size: 25px;
    font-weight: bold;
}


#close{
    height: 25px ;
    cursor: pointer;
}
#close:hover{
  filter: brightness(70%);
  transition: filter 0.3s ease;
}

.continer{
    display: grid;
    grid-template-columns: 4fr 2fr;
    background-color: white;
    padding: 20px;
    border-radius: 0 0 20px 20px ;
    gap: 20px;
    height: 580px;
}

.preview{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_list{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    overflow-y: scroll;
}



/* ===============이미지 */
#one_img{
    display:flex;
}

#slide{
    justify-self: center;
    align-self: center; 
}

#one_img button{
    border:none;
    background-color: white;
    font-size: 60px;
    color: #D9D9D9;
}

/* 프로필 스타일 */
.profile_container{
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.profile {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-top: 15px;
    font-size: 12px;
}

.profile img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.profile_name {
    display: flex;
    flex-direction: column;
    padding:0;
    margin :0;
}

.profile_name .eat-bti {
    font-size: 9px;
    color: #ff7f50;
    font-weight: 600;
}

.profile_name .nickname {
    font-size: 15px;
    font-weight: 600;
}
.stars{
    color: #FED049;
    font-weight: 600;
    font-size: 16px; 
    display: flex;
    align-items: end;
}
.stars img {
    vertical-align: middle;
    height: 23px;
    width: 23px;
}
.date {
    font-size: 12px;
    color: #636363;
    font-weight: 500;;
}

/* 신고 */
.report{
    border:none;
    background-color: white;
    cursor: pointer;
    color: #636363;
    text-decoration: underline; 
    display: flex;
    align-items: end;
    padding-bottom: 5px;
}

.report img{
    width: 18px;
    height: 18px;
    align-items: center;
}

/* content */
.content{
    width: 370px;
    color: #454545;
    font-size: 14px;
}

/*=========================이미지 바 */


/* 스크롤바의 폭 너비 */
.img_list::-webkit-scrollbar {
    width: 10px;  
}

.img_list::-webkit-scrollbar-thumb {
    background: #B8B8B8; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.img_list::-webkit-scrollbar-track {
    background: #F0F0F0;  /*스크롤바 뒷 배경 색상*/
}