@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* 별점 */
.rate {
    display: inline-block;
    border: 0;
    margin-right: 15px;
}
.rate > input {
    display: none;
}
.rate > label {
    float: right;
    color: #ddd
}
.rate > label:before {
    display: inline-block;
    font-size: 3rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 ";}
.rate .half:before {
    content: "\f089 ";
    position: absolute;
    padding-right: 0;
}
.rate input:checked ~ label, 
.rate label:hover,.rate label:hover ~ label {
     color: #f73c32 !important;  
} 
.rate input:checked + .rate label:hover,
.rate input input:checked ~ label:hover,
.rate input:checked ~ .rate label:hover ~ label,  
.rate label:hover ~ input:checked ~ label {
     color: #f73c32 !important;  
} 


.modal{
    width: 600px;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
}

.head_title{
    background-color: #C7E47E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 20px 20px 0 0 ;
    font-size: 25px;
    font-weight: bold;
}


#close{
    height: 25px ;
    cursor: pointer;
}
#close:hover{
  filter: brightness(70%);
  transition: filter 0.3s ease;
}

.continer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    border-radius: 0 0 20px 20px ;
    gap: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    width: 70%;
    font-size: 20px;
}

.content input{
    border:none;
    background-color: #E8E8E8;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 40px;
    text-align: right;
    padding: 0 20px;
}



.btn button{
    color: white;
    border-radius: 10px;
    border:none;
    padding : 10px 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

#cancel{
    background-color: #ACACAC ;
}
#cancel:hover{
    background-color: #999999 ;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}
#complete {
    background-color: #636363 ;
}
#complete:hover{
    background-color: #4a4a4a ;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* 이미지 박스 */
.upload-box {
    width: 200px;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    background-color: #eee;
    color: #888;
    font-size: 48px;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
}
.file-name {
    margin-top: 6px;
    font-size: 12px;
    color: #666;
    text-align: center;
    word-break: break-all;
}
input[type="file"] {
    display: none;
}