/* 클릭 이벤트 및 상태 */
button.click-basic:hover {
    background-color: #eee;
    cursor: pointer;
    font-weight: bold;
}
button.click-basic:disabled {
    background-color: #eee;
    cursor: default;
    font-weight: bold;
 }
button.click-basic:active {
    background-color: #ddd;
}

/* 버튼 종류 */
button.icon-btn {
    border: black solid 3px;
    width: 44px;
    aspect-ratio: 1/1;
    font-size: 14px;
    background-color: white;
    border-radius: 100px;
}
button.round-btn {
    border: black solid 3px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: white;
    border-radius: 100px;
}
button.semi-round-btn {
    border: black solid 2px;
    padding: 4px 20px;
    font-size: 16px;
    background-color: white;
    border-radius: 8px;
}

/* 색 종류 */
button.lightgreen {
    color: var(--ypjp-lightgreen);
    border-color: var(--ypjp-lightgreen);
}
button.lightgreen-b, button.lightgreen.selected {
    color: white;
    background-color: var(--ypjp-lightgreen);
    border-color: var(--ypjp-lightgreen);
}
button.lightgreen-b:hover, button.lightgreen.selected:hover {
    background-color: var(--ypjp-lightgreen-dark);
    border-color: var(--ypjp-lightgreen-dark);
    cursor: pointer;
}

button.green {
    color: var(--ypjp-green);
    border-color: var(--ypjp-green);
}
button.green-b, button.green.selected {
    color: white;
    background-color: var(--ypjp-green);
    border-color: var(--ypjp-green);
}
button.green-b:hover, button.green.selected:hover {
    background-color: var(--ypjp-green-dark);
    border-color: var(--ypjp-green-dark);
    cursor: pointer;
}
button.green-b:disabled {
    background-color: var(--ypjp-green-pale);
    cursor: default;
}

button.orange {
    color: var(--ypjp-salmon);
    border-color: var(--ypjp-salmon);
}
button.orange-b {
    color: white;
    background-color: var(--ypjp-salmon);
    border-color: var(--ypjp-salmon);
    cursor: pointer;
}
button.orange-b:hover {
    background-color: var(--ypjp-salmon-dark);
    border-color: var(--ypjp-salmon-dark);
    cursor: pointer;
}
button.orange-b:disabled {
    background-color: var(--ypjp-lightpink);
    cursor: default;
}

button.olive {
    color: var(--ypjp-olive);
    border-color: var(--ypjp-olive);
}
button.olive-b {
    color: white;
    background-color: var(--ypjp-olive);
    border-color: var(--ypjp-olive);
}
button.olive-b:hover {
    background-color: var(--ypjp-olive-dark);
    border-color: var(--ypjp-olive-dark);
    cursor: pointer;
}

button.red {
    color: var(--ypjp-red);
    border-color: var(--ypjp-red);
}