/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

/* 공통 */

.container {
  width: 1000px;
  min-height: 1000px; /* 창 크기에 따른 크기 변환 방지 */
  background-color: white;
  padding: 50px 70px;
}

.container * { /* 테스트용 테두리============================================================ */
  /* border: cyan dashed 1px; */
}

h2 {
  font-size: 24px;
}
.title-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.content-area{
  padding: 0px 20px;
}
hr{
  margin-bottom: 20px;
}
.margin-10 {
  margin-bottom: 10px;
}
.gray {
  height: 1px;
  background-color: #ccc;
  border: 0;
  flex-grow: 1;
  margin: 0 0 0 10px;
}
.aling-start{
  align-items: baseline;
}
.more-link {
  font-size: 16px;
  color: #888;
  float: right;
  margin-left: 10px;
}

.sort-group {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5px;
  margin-bottom: 10px;
}
.aling-start{
  align-items: baseline;
}
.vt-line {
  width: 0px;
  height: 100%;
  border-right: #ddd solid 2px;
}



.ing-detail-section{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.ing-detail-section .thumbnail {
  width: 240px;
  aspect-ratio: 1/1;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  flex-shrink: 0;
}

.ing-detail-section .add-img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center center;
  display: block;
}
.thumbnail:hover .add-img {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.thumbnail:active {
  background-color: #ccc;
}



.ing-inform {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
input {
  border: #ccc solid 1px;
  border-radius: 4px;
}
.drop-menu {
  height: 28px;
  width: 80px;
  padding-left: 10px;
  color:var(--ypjp-green);
  border-color: var(--ypjp-green);
  border-radius: 4px;
}
.drop-menu {
  height: 28px;
  width: 80px;
  padding-left: 10px;
  color:var(--ypjp-green);
  border-color: var(--ypjp-green);
}
.sub-inform > *, .ing-name {
  padding: 0px 10px;
  height: 28px;
}

.sub-inform {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}
.sub-inform input {
  padding: 0px 10px;
  text-align: center;
}
.ing-regidate, .ing-usedate{
  position: relative;
}
.calendar-icon {
  position: absolute;
}
.btn-group {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}