/* Header Component */
#header a {
  text-decoration: none;
  color: inherit;
}
#header {
  background-color: #92ca02;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  height: 50px;
}

.navbar {
  display: flex;
  justify-content: baseline;
  gap: 5px;
  list-style: none;
  align-items: center;
  padding: 0;
}
/* 햄버거 메뉴 넣는다면 사용... */
/* @media (max-width : 1100px){
  .navbar {
    display: none;
  }
} */

.nav-line {
  width: 1px;
  height: 20px;
  border-right: white solid 2px;
}

.nav-link {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  text-wrap: nowrap;
}

.nav-button {
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  text-wrap: nowrap;
  font-size: 1.03em;
  cursor: pointer;
}

.log-link {
  color: black;
  text-decoration: none;
  text-wrap: nowrap;
  font-size: 12px;
  border: 0px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover, .nav-button:hover {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-right {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.search-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-icon:hover, .profile-icon:hover {
  background-color: #dddddd;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.search-image {
  width: 25px;
  aspect-ratio: 1/1;
}
.profile-image {
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  position: absolute;
  right: 4px;
}
.profile-icon {
  width: 110px;
  height: 40px;
  background-color: white;
  padding-right: 40px;
  padding-left: 6px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Footer */

#footer {
  background-color: #92ca02;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-nav{
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 15px;
}

.footer-nav-item{
  border: white solid 1px;
  border-right: 0px;
  padding: 10px 30px;
  flex-shrink: 0;
}
.footer-nav-item:hover{
  background-color: #b9e156;
  transition: all 0.2s ease-in-out;
}
.footer-nav-item:nth-child(1){
  border-radius: 15px 0px 0px 15px;
}
.footer-nav-item:nth-child(5){
  border: white solid 1px;
  border-radius: 0px 15px 15px 0px;
}
.footer-nav-link{
  color: black;
  text-decoration: none;
}

/* 페이지네이션 ========================================================================================= */
.pagination-area{
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
 
/* 인라인 설정 태그 ========================================================================================= */
.flex-row {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-40 {
  gap: 40px;
}

/* 공용 컬러 ========================================================================================= */
:root {
  --ypjp-green: #029d60;
  --ypjp-green-pale: #67c4a0;
  --ypjp-green-dark: #007f4c;
  --ypjp-lightgreen: #92ca02;
  --ypjp-lightgreen-pale: #b9e156;
  --ypjp-olive: #3e5822;
  --ypjp-olive-dark: #253712;
  --ypjp-orange: #fdbb1b;
  --ypjp-yellow: #ffed67;
  --ypjp-lightpink: #febea2;
  --ypjp-salmon: #fe8051;
  --ypjp-salmon-dark: #e45b29;
  --ypjp-red: #ff4900;
}
